<h1>
  Services nearby
</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Optimism</a>
      <a class="dropdown-item" href="#">Fusion Bar</a>
      <a class="dropdown-item" href="#">QFC</a>
      <a class="dropdown-item" href="#">Wallmart</a>
      <a class="dropdown-item" href="#">Macys</a>
    </div>
</div>
