<form class="form-horizontal">
  <fieldset>
    <div id="legend">
      <legend class="">Register as ID Free</legend>
    </div>
    <div class="form-group mx-sm-3 mb-2 marTop9p marRight15 marLeft15 ">
      <label  class="sr-only">Username</label>
      <input type="password" class="form-control businessId"  placeholder="Enter username">
    </div><div class="form-group mx-sm-3 mb-2 marTop9p marRight15 marLeft15 ">
      <label  class="sr-only">Password</label>
      <input type="password" class="form-control businessId"  placeholder="Enter password">
    </div><div class="form-group mx-sm-3 mb-2 marTop9p marRight15 marLeft15 ">
      <label  class="sr-only">Email</label>
      <input type="password" class="form-control businessId"  placeholder="Enter email">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary mb-2 marTop9p">Start with fingerprint</button><br>
      <button type="submit" class="btn btn-primary mb-2 ">Photo Upload</button>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success mb-2 marTop5">Create Account</button>
    </div>


  </fieldset>
</form>
