<h1 class="text-center ">
  Hey Daphne!!
</h1>
<div class="pull-left"><b>Name: Daphne Russell</b></div>
<div class="pull-right"><b>Id: 786-542-192</b></div><br>
<div class="pull-left "><b>Verified By: 28</b></div>
<div class="marTop9p">
  <div class="alert alert-success marTop2Per" *ngIf="showAlert">
    <i class="fa fa-check fa-2x"></i>
    You have successfully verified at CapitalHill!!
  </div>
  <img src="../../assets/img_avatar.png" alt="Avatar" class="avatar">
  <div class="form-group mx-sm-3 mb-2 marTop9p marRight15 marLeft15 ">
    <p><b>Enter Business id</b></p>
    <label for="inputPassword2" class="sr-only">Enter business id</label>
    <input type="password" class="form-control businessId" id="inputPassword2" placeholder="Enter business id" value="123344555">
    <div class="text-center marTop5">
      <button type="submit" class="btn btn-primary mb-2 " >Confirm identity</button>
    </div>
  </div>

</div>
<div>
  <h2>History</h2>
  <div class="table-responsive-md marTop5">
    <table class="table">
      <thead>
      <tr role="row">
        <th>Palces</th>
        <th >Frequency</th>
        <th >Rating</th>
        <th >Reviews</th>
      </tr>
      </thead>
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal"><b>Optimism</b></a>
        </td>
        <td>
          22
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </td>
        <td>
          Most happening place.
        </td>
      </tr>
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal"><b>Seattle Community Center</b></a>
        </td>
        <td>
          12
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </td>
        <td>
          Simple and afforable place.
        </td>
      </tr>
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal"><b>CaptallHill</b></a>
        </td>
        <td>
          48
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </td>
        <td>
          *****Reviews are here****
        </td>
      </tr>
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal"><b>QFC</b></a>
        </td>
        <td>
          48
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </td>
        <td>
          It's the more happening place.
        </td>
      </tr>
      <tr>
        <td>
          <a href="javascript:void(0)" data-toggle="modal"><b>Macys</b></a>
        </td>
        <td>
          48
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </td>
        <td>
          Environment is nice and clean.
        </td>
      </tr>
    </table>
  </div>

</div>
